* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}